{% extends 'layout.html.twig' %}

{% block content %}
    <div id="body-website">
      <p>You can register here to upload files</p>
            <p>{% if error is defined and not empty %}{{error}}{% endif %}</p>
      <form method='post' action='?action=register'>
        <fieldset>
          <legend>Register</legend>
          <label for='username'>Username: </label>
          <input type='text' name='username' id='username' required>
          <br/>
          <label for='firstname'>Firstname: </label>
          <input type='text' name='firstname' id='firstname' required>
          <br/>
          <label for='lastname'>Lastname: </label>
          <input type='text' name='lastname' id='lastname' required>
          <br/>
          <label for='passw'>Password: </label>
          <input type='password' name='passw' id='passw' required>
          <br/>
          <label for='mail'>Mail: </label>
          <input type='email' name='mail' id='mail' required>
          <br/>
          <input type='submit' value='Register'>
        </fieldset>
      </form>
    </div>
{% endblock %}
